# -- packages needed for ci pipeline for qa --
black
coverage>=6.3
flake8
flake8-bugbear
mypy
# -- source consistency checking --
pymacros4py>=0.8.2 ; python_version >= "3.10"
# -- additional packages for tests using them --
mpmath
intbitset ; python_version < "3.13" and implementation_name == "cpython"  # missing on PyPy and often on new CPython-versions
