# -- packages needed for ci pipeline for qa --
black
coverage>=6.3
flake8
mypy
# -- additional packaged used only for test with them --
mpmath
intbitset ; python_version < "3.12" and implementation_name == "cpython"  # missing on PyPy and (so far) CPython 3.12
