# -- build and upload --
pip>=22.0.4
build>=0.7.0
twine>=3.7.1
# -- documentation (RTD req. sphinx<6, then docutils<=0.18.1) --
docutils==0.18.1
sphinx==6.2.1
sphinx-rtd-theme==1.2.2
# -- source formatting, testing, type checking --
black
coverage>=6.3
flake8
flake8-bugbear
mypy
# -- source consistency checking --
pymacros4py>=0.8.2 ; python_version >= "3.10"
# -- additional packages for tests using them --
mpmath
intbitset ; python_version < "3.13" and implementation_name == "cpython"  # missing on PyPy and often on new CPython-versions
